*{
	box-sizing: border-box;
}
.form{
	background-color: green;
	width: 400px;
	height:300px;
	border: 20px solid white;
	padding: 5px;
	line-height: 30px;
	float: left;
	margin: 0 auto;
}

#container{
	margin: 0 auto;
	width: 1300px;
	height: 500px;
	text-align: center;
}

input{
	line-height: 30px;
}